body{
    background-color:#BE7C4D;
}

#index{
    font-family: 'Raleway', sans-serif;
}

#power{
    font-family: 'Raleway', sans-serif;
}

#kind{
    font-family: 'Raleway', sans-serif;
}

#agreed{
    float: right;
}

#open{
    text-align: center;
}

#calm{
    text-align: center;
}

#red{
    width: 100px;
  border: 5px solid #92140C;
  padding: 10px;
  margin: 20px;
}




