body{
    background-color:#BE7C4D;
}

#kind{
    font-family: 'Raleway', sans-serif;
<<<<<<< HEAD
}

#humble{
    font-family: 'Raleway', sans-serif;
}

#neat{
    font-family: 'Raleway', sans-serif;
}


=======
    background-color:#BE7C4D;
}

#roll{
    list-style-type: none;
    text-align: center;
}

>>>>>>> refs/remotes/origin/master

